div{background-color:pink;
     height:250px; 
     width:500px;
     margin-top:100px;
     margin:auto;
    }

    button{height:30px;
        width:90px;
        background-color:burlywood;
        margin:auto;
        position: absolute;
        top: 70%;
        left:50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius:8px;
      }
body{
  text-align: center;
}      
    